body {
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
    font-size: 13px;
}

.community-menu {
    color: #999;
}

.error-style {
    margin: 80px;
}

.comment{
    margin: 10px 0;

}

.float-gly{
    margin-top: 10px;
    color: #999;
    font-size: 15px;
}

.float-gly .flag{
    cursor: pointer;
    margin-right: 4px;
}

.float-gly .flag:hover{
    color: #499ef3;
}

.comment-active{
    color: #499ef3;
}

.comments{
    margin-bottom: 15px;
    border-bottom: 1px solid #999999;
}

.nav-top{
    margin-top: 20px;
}

.comment-top{
    margin-top: 50px;
}

.collapse-style{
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.text-margin{
    margin-bottom: 17px;
}